html {
	background-color: #ecf0f1;
	font-family: "Noto Sans", "Arial", sans-serif;
}

body {
	text-align: center;
}

header {
	margin: 35px 0;
}

nav a {
	margin: 0 15px;
}

main {
	max-width: 800px;
	margin: 0 auto;
}

.box:not(:empty) {
	background-color: #bdc3c7;
	padding: 25px;
	margin: 25px;
}

.box.red {
	background-color: #e74c3c;
}

footer {
	color: #7f8c8d;
	margin-top: 50px;
}

@media (min-width: 800px) {
	h1 {
		font-size: 32pt;
	}

	input[name=url] {
		width: 400px;
	}
}

@media (min-height: 400px) {
	footer {
		position: absolute;
		bottom: 5px;
		left: 0;
		right: 0;
	}
}
