<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>eUrnik iCal</title>
		<link rel="stylesheet" href="/static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h1>eAsistent urnik v iCal formatu</h1>
			<nav>
				<!-- TODO: <a href="/navodila">Navodila</a> &mdash;
				<a href="/o">O programu</a> &mdash;-->
				<a href="https://gitlab.com/franga2000/eurnik-ical/">Izvorna koda</a>
			</nav>
		</header>
		<main>
			{% if error %}
				<div class="box red">{{ error }}</div>
			{% endif %}
			{% block main %}{% endblock main %}
		</main>
		<footer>
			Miha Frangež, 9.2017
		</footer>
	</body>
</html>