{% extends "base.html" %}
{% block main %}
{% if ical_url %}
<div class="box">
	Vaša povezava je: <a href="{{ ical_url }}">{{ ical_url }}</a>
</div>
{% endif %}
<form action="" method="get">
	<label for="url">URL do urnika: </label>
	<input type="text" name="url" value="" placeholder="Na primer: https://www.easistent.com/urniki/9dbc59a89b732fdf68...">
	<button type="submit">Pošlji</button>
</form>
{% endblock main %}